= form_for @component do |f|
  - if @component.errors.any?
    #error_explanation
      %h2= "#{pluralize(@component.errors.count, "error")} prohibited this component from being saved:"
      %ul
        - @component.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :characteristic
    = f.text_field :characteristic
  .field
    = f.label :part_of_characteristics
    = f.text_field :part_of_characteristics
  .field
    = f.label :sampling_step
    = f.number_field :sampling_step
  .field
    = f.label :pid
    = f.number_field :pid
  .actions
    = f.submit 'Save'
