%ul.pagination
  %li.page-item.prev
    %a.page-link.bc{:href => "/welcome/index"} Главная
  %li.page-item.this
    %a.page-link.active-link{:href => "#"} Сотрудники


.content-wrapper.my_table_style
  .container-fluid
    / Breadcrumbs

  .table-responsive
    %table#dataTable.table.my_table_style
      %caption
        = link_to new_person_path, class: 'btn button_new' do
          = fa_icon :plus
          = t('headers.people.new')
      %thead
        %tr
          %th= Person.human_attribute_name(:name)
          %th
          %th
          %th

      %tfoot
        %tr
          %th= Person.human_attribute_name(:name)
          %th
          %th
          %th

      %tbody
        - @people.each do |person|
          %tr
            %td= person.name
            %td
              = link_to person, class: 'btn button_show' do
                = fa_icon :eye
                = t('buttons.show')
            %td
              = link_to edit_person_path(person), class: 'btn button_edit' do
                = fa_icon :edit
                = t('buttons.edit')
            %td
              = link_to person, :method => :delete,
              :data => { :confirm => t('buttons.confirm.people') },
              class: 'btn button_destroy' do
                = fa_icon :times
                = t('buttons.destroy')
