.col-md-5
  .panel.panel-info
    .panel-heading
      %span.toright
        = link_to_remove_part_of_characteristic(fn)
    .clearfix
      .panel-body
        .form-group
          .row
            .col-25
              = fn.label :partname
            .col-75
              = fn.text_field :partname,  :placeholder => "Название создаваемой части характеристики"
              = fn.hidden_field :id
          -# .row
          -#   .col-25
          -#     = fn.label :characteristic_id
          -#   .col-75
          -#     = fn.select :characteristic_id, options_for_select(select_characteristic()), {}, class: 'form-control'
          .row
            .col-25
              = fn.label :isweight
            .col-75
              = fn.number_field :isweight

          .row
            .col-md-5
              = fn.label :type_of_data
            .col-md-5
              = fn.select :type_of_data, options_for_select(type_of_data()), {}, class: 'form-control'
          .row
            .col-md-2
              = fn.label :result_type
            .col-md-3
              = fn.number_field :result_type,  :placeholder => "Вид результата"
    -# .row
    -#   = fn.submit 'Сохранить'
