.content-wrapper
  .container-fluid
    / Breadcrumbs
  %ul.pagination
    %li.page-item
      %a.page-link.bc{:href => "/welcome/index"} Главная
    %li.page-item
      %a.page-link.bc{:href => information_systems_path} Информационные системы
    %li.page-item
      %a.page-link.active-link{:href => "#"} Просмотр



  .table-responsive
    %table.table.my_table_style
      %thead
        %tr
          %th= InformationSystem.human_attribute_name(:name)
          %th= InformationSystem.human_attribute_name(:timezone)

      %tbody
        %tr
          %td= @information_system.name
          %td= @information_system.timezone

  .col-md-3.col-centre.col-sm-6
    = link_to t('Редактировать'), edit_information_system_path(@information_system), class: "btn btn-primary buttons"
