= form_for @address do |f|
  - if @address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@address.errors.count, "ошибок")} Не соблюдаются ограничения целостности:"
      %ul
        - @address.errors.full_messages.each do |message|
          %li= message
  .row
    .form.col-md-5
      .row
        .form_general.col-md-11
          .label_field.col-md-12
            = f.label :name
          .text_field.col-md-12
            = f.text_field :name,  :placeholder => "Ссылка"

        .button
          = f.submit 'Сохранить'
