!!!
%html{lang: 'ru'}
  %head
    %title=t('app.name')
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1.0"}
    %meta{'http-equiv'=>"X-UA-Compatible", 'content'=>"IE=edge"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if user_signed_in?
      %nav.vertical-menu.js-vertical-menu
        .logo

          %i.fa.fa-tv
          %span
            -# СКАП
          -#   search
          -# fa-tv

        - if user_signed_in?
          = render  'application/inside'
        - else
          = render 'application/inside'
      .part
        #content.ccc.js-content-wrap

          %nav.top-panel
            .container-fluid
              - if user_signed_in?
                %i.material-icons.js-toggle-menu.bar
                  menu
              .top-panel-right
                - if user_signed_in?
                  %span.sign
                    %i.material-icons
                      account_circle
                    #{current_user.email}
                    = link_to destroy_user_session_path, method: :delete,
                    class: 'sign_out' do
                      %i.material-icons
                        menu
                      = t('buttons.signout')
                -# - else
                -#   %span
                -#     = link_to new_user_session_path,
                -#     class: 'btn button_destroy' do
                -#       %i.material-icons
                -#         menu
                -#       = t('buttons.signin')

          -# %p.notice= notice
          -# %p.alert= alert

          .container-fluid
            = yield
    - else
      =yield
